server:
  error:
    whitelabel:
      enabled: false
    path: /error
  port: 8080

springdoc:
  show-login-endpoint: true
  swagger-ui:
    path: /swagger-ui.html

spring:
  profiles:
    active: dev
  datasource:
    bearrecipes:
      url: jdbc:postgresql://localhost:5432/bearrecipes
      driverClassName: org.postgresql.Driver
      username: postgres
      password: postgres

  liquibase:
    bearrecipes:
      change-log: db/liquibase-changelog.xml
      liquibase-schema: public

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false

  mvc:
    hiddenmethod:
      filter:
        enabled: true

logging:
  level:
    com.service.bearrecipes: info