<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Оплата</title>
    <style type="text/css">
        body {
            background-color: antiquewhite;
        }

        .titleMainPage {
            padding: 30px;
            position: relative;
            margin-top: auto;
        }
    </style>
</head>
<body>
<div class="titleMainPage">
    <h1>Проверка оплаты заказа: <span class="time-left"></span></h1>
</div>

<script>
    var delay = 5,
        output = document.querySelector('.time-left'),
        timer = setInterval(function () {
            output.textContent = --delay;
            if (!delay) {
                clearInterval(timer);
                location.href = "receiptlist.html";
            }
        }, 1000);
    output.textContent = delay;
</script>
</body>
</html>
