<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Удаление</title>
    <style type="text/css">
        body {
            background-color: antiquewhite;
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        button {
            padding: 30px;
            margin-bottom: 20px;
            background-color: aliceblue;
        }

        input:read-only {
            background: aliceblue;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="delete-form">
    <input type="hidden" name="_method" value="delete"/>
    <h1>Удаление ингредиента:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly" th:value="${ingredient.id}"/>
    </div>

    <div class="row">
        <label for="name-input">Название:</label>
        <input id="name-input" name="name" type="text" readonly="readonly" th:value="${ingredient.ingredientName}"/>
    </div>

    <div class="row">
        <label for="weight-input">Вес:</label>
        <input id="weight-input" name="plaintText" type="text" readonly="readonly" th:value="${ingredient.weight}"/>
    </div>

    <div class="row">
        <label for="price-input">Цена:</label>
        <input id="price-input" name="plaintText" type="text" readonly="readonly" th:value="${ingredient.price}"/>
    </div>


    <div class="row">
        <button type="button" th:attr="onclick=|deleteIngredient(${ingredientId})|">Удалить</button>

        <button><a th:href="@{/receipt}" href="receiptlist.html">Назад</a></button>
    </div>
</form>

<script>
    function deleteIngredient(ingredientId) {
        console.log("exec deleteIngredient with param: ingredientId=" + JSON.stringify(ingredientId));
        fetch("/api/ingredient/" + ingredientId, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(() => location.href = "/receipt");
    };
</script>

</body>
</html>
