<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete receipt</title>
    <style type="text/css">
        body {
            background-color: #ffffff;
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: rgba(128, 126, 126, 0.32);
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="delete-form">
    <input type="hidden" name="_method" value="delete"/>
    <h1>Delete receipt Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly" th:value="${book.id}"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" readonly="readonly" th:value="${book.name}"/>
    </div>

    <div class="row">
        <label for="year-input">Year:</label>
        <input id="year-input" name="year" type="text" readonly="readonly" th:value="${book.year}"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <input id="author-input" name="author" type="text" readonly="readonly" th:value="${book.author.name}"/>
    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genre" type="text" readonly="readonly" th:value="${book.genre.name}"/>
    </div>


    <div class="row">
        <button type="button" th:attr="onclick=|deleteBook(${bookId})|">Save</button>
    </div>
    <div class="row">
        <button><a th:href="@{/book}" href="booklist.html">Back</a></button>
    </div>
</form>

<script>
    function deleteBook(id) {
        console.log("exec deleteBook with param: id=" + JSON.stringify(id));
        fetch("/api/book/" + id, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(() => location.href = "/book");
    };
</script>

</body>
</html>
