<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit receipt</title>
    <style type="text/css">
        body {
            background-color: #ffffff;
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        .row {
            margin-top: 10px;
        }

        input:read-only {
            background: rgba(128, 126, 126, 0.32);
        }
    </style>
</head>
<body>

<form id="edit-form">
    <h1>Edit receipt Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="bookId" type="text" readonly="readonly" th:value="${book.id}"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="bookName" type="text" th:value="${book.name}"/>
    </div>

    <div class="row">
        <label for="year-input">Year:</label>
        <input id="year-input" name="bookYear" type="number" th:value="${book.year}"/>
    </div>

    <div class="row">
        <label for="authname-input">Author name:</label>
        <input id="authname-input" name="authorName" type="text" th:value="${book.author.name}"/>
    </div>

    <div class="row">
        <label for="authyear-input">Author year:</label>
        <input id="authyear-input" name="authorYear" type="number" th:value="${book.author.year}"/>
    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genreName" type="text" th:value="${book.genre.name}"/>
    </div>


    <div class="row">
        <button type="button" th:attr="onclick=|updateBook(buildBookObj(), ${bookId})|">Save</button>
    </div>
    <div class="row">
        <button><a th:href="@{/book}" href="booklist.html">Back</a></button>
    </div>

    <!--        todo добавить изменение ингридиентов + изменение шагов приготовления (обращаться в скрипте на соответствующие АПИ для изменение в БД)-->
</form>

<script>
    function buildBookObj() {
        console.log("exec buildBookObj");

        var author = new Object();
        author.name = document.getElementById("authname-input").value;
        author.year = document.getElementById("authyear-input").value;

        var genre = new Object();
        genre.name = document.getElementById("genre-input").value;

        var book = new Object();
        book.name = document.getElementById("name-input").value;
        book.year = document.getElementById("year-input").value;
        book.author = author;
        book.genre = genre;

        console.log("exec buildBookObj result: " + JSON.stringify(book));
        return book;
    }
</script>

<script>
    function updateBook(book, bookId) {
        console.log("exec updateBook with param:" + JSON.stringify(book));
        fetch("/api/book/" + bookId, {
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(book)
        }).then(() => location.href = "/book");
    };
</script>

</body>
</html>
