<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Изменение</title>
    <style type="text/css">
        body {
            background-color: antiquewhite;
            padding: 30px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        button {
            padding: 30px;
            margin-bottom: 20px;
            background-color: aliceblue;
        }

        .row {
            margin-top: 10px;
        }

        input:read-only {
            background: burlywood;
        }
    </style>
</head>
<body>

<form id="edit-form">
    <h1>Изменение карточки рецепта:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="receiptId" type="text" readonly="readonly" th:value="${receipt.id}"/>
    </div>

    <div class="row">
        <label for="plaintText-input">Описание:</label>
        <input id="plaintText-input" name="plaintText" type="text" th:value="${receipt.plaintText}"/>
    </div>

    <div class="row">
        <label for="complexity-input">Сложность:</label>
        <input id="complexity-input" name="complexity" type="number" th:value="${receipt.complexity}"/>
    </div>

    <div class="row">
        <label for="authname-input">Имя Автора:</label>
        <input id="authname-input" name="authorName" type="text" th:value="${receipt.author.name}"/>
    </div>

    <div class="row">
        <label for="authlastname-input">Фамилия Автора:</label>
        <input id="authlastname-input" name="authorLastName" type="text" th:value="${receipt.author.lastName}"/>
    </div>

    <div class="row">
        <label for="country-input">Страна:</label>
        <input id="country-input" name="countryName" type="text" th:value="${receipt.country.name}"/>
    </div>


    <div class="row">
        <button type="button" th:attr="onclick=|updateReceipt(buildReceiptObj(), ${receiptId})|">Сохранить</button>

        <button><a th:href="@{/receipt}" href="receiptlist.html">Назад</a></button>
    </div>
</form>

<script>
    function buildReceiptObj() {
        console.log("exec buildReceiptObj");

        var author = new Object();
        author.name = document.getElementById("authname-input").value;
        author.lastName = document.getElementById("authlastname-input").value;

        var country = new Object();
        country.name = document.getElementById("country-input").value;

        var receipt = new Object();
        receipt.name = document.getElementById("name-input").value;
        receipt.plaintText = document.getElementById("plaintText-input").value;
        receipt.complexity = document.getElementById("complexity-input").value;
        receipt.author = author;
        receipt.country = country;

        console.log("exec buildReceiptObj result: " + JSON.stringify(receipt));
        return receipt;
    }
</script>

<script>
    function updateReceipt(receipt, receiptId) {
        console.log("exec updateReceipt with param:" + JSON.stringify(receipt));
        fetch("/api/receipt/" + receiptId, {
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(receipt)
        }).then(() => location.href = "/receipt");
    };
</script>

</body>
</html>
