<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Info receipt</title>
    <style type="text/css">
        body {
            background-color: #ffffff;
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: rgba(128, 126, 126, 0.32);
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<h1>Receipt Info:</h1>

<div class="row">
    <label for="id-input">ID:</label>
    <input id="id-input" name="id" type="text" readonly="readonly" th:value="${book.id}"/>
</div>

<div class="row">
    <label for="name-input">Name:</label>
    <input id="name-input" name="name" type="text" readonly="readonly" th:value="${book.name}"/>
</div>

<div class="row">
    <label for="year-input">Year:</label>
    <input id="year-input" name="year" type="text" readonly="readonly" th:value="${book.year}"/>
</div>

<div class="row">
    <label for="authname-input">Author name:</label>
    <input id="authname-input" name="authorName" type="text" readonly="readonly" th:value="${book.author.name}"/>
</div>

<div class="row">
    <label for="authyear-input">Author year:</label>
    <input id="authyear-input" name="authorYear" type="text" readonly="readonly" th:value="${book.author.year}"/>
</div>

<div class="row">
    <label for="genre-input">Genre:</label>
    <input id="genre-input" name="genreName" type="text" readonly="readonly" th:value="${book.genre.name}"/>
</div>

<div class="row">
    <div class="form-group blu-margin">
        <label>Comments:</label>
        <span class="form-control" th:name="comment.id" id="commentId">
           <option th:each="comment : ${book.comments}" th:value="${comment.id}" th:text="'- ' + ${comment.commentText}"/>
        </span>
    </div>
</div>

<div class="row">
    <button><a th:href="@{/book}" href="booklist.html">Back</a></button>
</div>

</body>
</html>
