<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список заказов</title>
    <style type="text/css">
        body {
            background-color: antiquewhite;
        }

        button {
            padding: 30px;
            margin-bottom: 20px;
            background-color: aliceblue;
        }

        .titleMainPage {
            padding: 30px;
            position: relative;
            margin-top: auto;
        }

        .content, .content td {
            border: 1px solid #000000;
            padding: 30px;
            background-color: aliceblue;
        }
    </style>
</head>

<body>
<div class="titleMainPage">
    <h1>Заказы:</h1>

    <button>
        <thead>
        <a th:href="@{/user/profileuser}" href="profileuser.html">Назад</a>
        </thead>
    </button>

    <table class="content">
        <thead>
        <tr>
            <th>Номер вашего телефона/заказа</th>
            <th>Стоимость</th>
            <th>Адрес доставки</th>
            <th>Время заказа</th>
            <th>Адрес склада</th>
            <th>Телефон склада</th>
        </tr>
        </thead>

        <tbody id="orderTable"/>
    </table>

</div>

<script>
    console.log("exec api/order ")

    const params = {
        headers: {'Access-Control-Allow-Origin': '*'},
        method: 'GET'
    }


    fetch("/api/order", params)
        .then(response => response.json())
        .then(data => {
            data.forEach(order => {
                orderTable.innerHTML +=
                    "<tr>" +
                    "<td>" + order.number + "</td>" +
                    "<td>" + order.orderPrice + "</td>" +
                    "<td>" + order.deliveryAddress + "</td>" +
                    "<td>" + order.orderDate + "</td>" +
                    "<td>" + order.stock.stockAddressCity + "</td>" +
                    "<td>" + order.stock.stockTelNumber + "</td>" +
                    "</tr>";
            })
        });
</script>
</body>
</html>
